<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbConnectionString"
         connectionString="Server=localhost;Database=aspnet_identity_test;Persist Security Info=True;User Id=aspnet_identity;Password=aspnet_identity;Max Pool Size=25;Connect Timeout=300;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Base path is the assembly directory bin\Debug or bin\Release -->
    <add key="SqlSeedScript" value="..\..\..\..\SQL\test-mysql-v2.sql" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>