<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbConnectionString"
         connectionString="Data Source=localhost\SQLEXPRESS; Initial Catalog=aspnet_identity_test; Integrated Security=SSPI;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Base path is the assembly directory bin\Debug or bin\Release -->
    <add key="SqlSeedScript" value="..\..\..\..\SQL\test-mssql-v2.sql" />
  </appSettings>
</configuration>